<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Documentation</a>
            </div>
            <!-- Search form -->
            <form class="navbar-form navbar-right" action="/search" role="search">
                <div class="form-group">
                    <input type="text" name="q"
                        class="form-control search-input js-query"
                        placeholder="Search">
                </div>
                <div class="btn-group" role="group">
                    <button type="button" data-action="edit" class="btn js-edit-action-btn btn-default">
                        <i class="glyphicon glyphicon-pencil"></i>
                        Edit
                    </button>
                    <button type="button" data-action="new-page" class="btn js-edit-action-btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i>
                        New Page
                    </button>
                    <button type="button" data-action="commit" class="btn js-edit-action-btn btn-primary">
                        <i class="glyphicon glyphicon-cloud-upload"></i>
                        Commit
                    </button>
                    <button type="button" data-action="delete" class="btn js-edit-action-btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Delete
                    </button>
                </div>
            </form>
        </div>
    </nav>
</header>
