<form action="#">
    <div class="modal-body js-modal-body">

        <div class="form-group">
            <label>Page id</label>
            <input type="text" required title="Please enter a valid file path with no extension"
                pattern="[a-zA-Z0-9_\/-]+" class="form-control js-page-id">
        </div>

        <div class="form-group js-page-editor">
            <label>Page content</label>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
