<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page_title}}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/assets/css/prism.css">
    <link rel="stylesheet" href="/assets/css/github-markdown.css">
    <link rel="stylesheet" href="/assets/css/codemirror.css">
    <link rel="stylesheet" href="/assets/css/lobibox.css">
    <link rel="stylesheet" href="/assets/css/dialog.css">
    <link rel="stylesheet" href="/assets/css/matchesonscrollbar.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Documentation</a>
            </div>
            <!-- Search form -->
            <form class="navbar-form navbar-right" action="/" role="search">
                <div class="btn-group" role="group">
                    <button type="button" data-action="edit" class="btn js-edit-action-btn btn-default">
                        <i class="glyphicon glyphicon-pencil"></i>
                        Edit
                    </button>
                    <button type="button" data-action="new-page" class="btn js-edit-action-btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i>
                        New Page
                    </button>
                    <button type="button" data-action="commit" class="btn js-edit-action-btn btn-primary">
                        <i class="glyphicon glyphicon-cloud-upload"></i>
                        Commit
                    </button>
                    <button type="button" data-action="delete" class="btn js-edit-action-btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Delete
                    </button>
                </div>
                <div class="form-group">
                    <input type="text" name="search"
                        class="form-control search-input"
                        placeholder="Search">
                </div>
            </form>
        </div>
    </nav>

    {{{ yield }}}

    <script data-main="/assets/js/main" src="/assets/js/require.js"></script>

    {{> modal }}
</body>

</html>
